.cardsss{
    padding: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 1rem;
    .card{
        width: 32%;
        &-img{
            margin-bottom: 1rem;
            border-radius: 1rem;
        }
        &-title{
            font-weight: 700;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        &-description{
            font-size: 0.875rem;
            margin-bottom: 1rem;
        }
        a{
            width: max-content;
            letter-spacing: 3px;
            font-size: 0.75rem;
            border: none;
            margin-bottom: 1rem;
            &:hover{
                color: red;
                cursor: pointer;
            }
        }
        button{
            width: max-content;
            letter-spacing: 3px;
            font-size: 0.75rem;
            border: none;
            margin-bottom: 1rem;
            &:hover{
                color: red;
                cursor: pointer;
            }
        }
    }
}