.form-div{
    margin-top: 200px;
    .label-div{
        display: flex;
        flex-direction: column;
        label{
            margin: 1rem 0;
        }
        input{
            margin-bottom: 1rem;
        }
    }
    button{
        margin-top: 2rem;
    }
}